alias gtwork='cd ~/workspace/'
alias gtdot='cd ~/dotfiles/'
alias gtproj='gtwork && cd projects'

alias editvim='nvim ~/.config/nvim/init.vim'
alias editzsh='sudo nvim ~/.zshrc'
alias editalias='sudo nvim ~/.aliases'

alias git-config-coding='git config user.email codingchancez@gmail.com && git config user.name "Coding Chancez"'

alias git-access-bb-coding='ssh-add -D && ssh-add ~/.ssh/bitbucket-coding'
alias git-access-gh-aamiel='ssh-add -D && ssh-add ~/.ssh/github-aamiel'
alias git-access-cc-potech='ssh-add -D && ssh-add ~/.ssh/rsa_codecommit_potech'
alias git-access-cc-architech='ssh-add -D && ssh-add ~/.ssh/codecommit-architech'

alias rra='react-native run-android'
alias emulator='$ANDROID_HOME/emulator/emulator'
alias emulatorlist='emulator -list-avds'
alias stemulator='emulator @5.4_FWVGA_API_27'
alias emutablet='emulator @10.1_WXGA_Tablet_Oreo'
alias stsimulator='open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app'

alias k='kubectl'
