alias gtpos='cd ~/Desktop/Workspace/Krispsystems/ks-client-register'
alias gtadmin='cd ~/Desktop/Workspace/Krispsystems/ks-client-admin'
alias gtworkspace='cd ~/Desktop/Workspace/'
alias gtprac='cd ~/Desktop/Workspace/Practice/'
alias gtplay='cd ~/Desktop/Workspace/Playground/'
alias gtproj='cd ~/Desktop/Workspace/Projects/StockTrack'
alias gtdux='cd ~/Desktop/Workspace/Dux/'
alias gtkrisp='cd ~/Desktop/Workspace/Krispsystems'
alias gtkafka='gtkrisp && cd Kafka/'
alias stpos='gtpos && npm start'
alias stadmin='gtadmin && npm start'
alias code='code .'
alias devpos='gtpos && code && stpos'
alias codepos='gtpos && code'
alias devadmin='gtadmin && code && stadmin'
alias codeadmin='gtadmin && code'
alias editvim='sudo nvim ~/.config/nvim/init.vim'
alias editzsh='sudo nvim ~/.zshrc'
alias editalias='sudo nvim ~/.aliases'
alias gitkrisp='git config --global user.email "apsanchez@krispsystems.com"'
alias gitdux='git config --global user.email "duxapps@gmail.com"'
alias rra='react-native run-android'
alias emulator='$ANDROID_HOME/emulator/emulator'
alias emulatorlist='emulator -list-avds'
alias stemulator='emulator @5.4_FWVGA_API_25'
alias emutablet='emulator @10.1_WXGA_Tablet_Oreo'
alias stsimulator='open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app'
alias stdocker='docker start logstash kibana rabbitmq elasticsearch couch-dev ks-cache couch-master'
alias codeapp='gtproj && cd StockTrack && code'
alias k='kubectl'
